{% extends 'base.html' %}

{% block title %}关于我{% endblock %}

{% block content %}
    <div class="content">
        <div class="row-fluid">
            <div class="span12">

                <div class="card">

                    <h3>关于我</h3>

                    <ul class="posts">
                        <li class="listing-seperator">Android开发者，J2EE开发者，Go爱好者，果粉（半全栈工程师）</li>
                        <li class="listing-seperator">我掌握的语言：<a>Java</a> &nbsp;&nbsp; <a>Html</a> &nbsp;&nbsp; <a>JavaScript</a>
                            &nbsp;&nbsp; <a>Go</a> &nbsp;&nbsp; <a>Swift</a> &nbsp;&nbsp; <a>OC</a> &nbsp;&nbsp;
                            <a>Ruby</a> &nbsp;&nbsp; <a>Python</a>
                        </li>
                    </ul>

                    <h3>关于这里</h3>

                    <ul class="posts">
                        <li class="listing-seperator">本blog主要分享我在工作中遇到的技术难点，以及一些读书笔记，我会认真写好每一篇blog，力求达到精益求精。</li>
                        <li class="listing-seperator">分享成果，让我每天都很开心</li>
                    </ul>

                    <h3>我的开源</h3>

                    <ul class="posts">
                        <li class="listing-seperator">1. <a href="https://github.com/KokerWang/PubDialog">PubDialog</a>
                        </li>
                        <li class="listing-item">
                            <time datetime="">一款Android上常用的列表对话框，使用简单，功能强大，可定制性强，类似IOS上的UIActionSheet</time>
                        </li>
                    </ul>

                    <ul class="posts">
                        <li class="listing-seperator">2. <a href="https://github.com/KokerWang/PDEXChart">PDEXChart</a>
                        </li>
                        <li class="listing-item">
                            <time datetime="">IOS上用Swift开发的图表库，在PDChart的基础上二次开发，支持多线图，多柱形图，不过已经废弃，改用ios-charts吧</time>
                        </li>
                    </ul>

                    <h3>我的作品</h3>

                    <ul class="posts">
                        <li class="listing-seperator">1. <a href="http://www.louli.com.cn/">楼里</a>Android客户端, <a
                                href="http://a.app.qq.com/o/simple.jsp?pkgname=com.louli.community&g_f=991653">下载地址</a>
                        </li>
                        <li class="listing-seperator">2. <a href="http://www.16lao.cn">一路捞</a>Android客户端, <a
                                href="http://zh.16lao.com/t.html">下载地址</a></li>
                        <li class="listing-seperator">3. <a>京东金融数据分析Android客户端</a></li>
                        <li class="listing-seperator">4. <a>京东金融数据分析IOS客户端</a></li>
                    </ul>

                    <h3>读书</h3>

                    <ul class="posts">
                        <li class="listing-seperator">
                            最近看到有人晒自己Github的连续签到记录，甚是励志，自己何不也记录点什么呢？今天灵光一闪，那就记录读的书吧，顺便挑战一下自己一年可以看多少书，详情 <a
                                href="/reading">点击这里</a></li>
                    </ul>

                    <h3>A Fairy Table</h3>

                    <ul class="posts">
                        <li class="listing-seperator">Came away,o human child,to the waters and the wild,with the fairy
                            hand in
                            hand,for the word's more full of weeping than you can understand.you quest will be
                            perilous,yet the
                            reward is beyond price.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;----《A.I.》
                        </li>
                    </ul>
                </div>

            </div>

        </div>

    </div>

{% endblock %}
