{% extends 'base.html' %}

{% block title %}归档{% endblock %}

{% block content %}

    <div class="content">

        <div class="row-fluid">
            <div class="span12">
                <ul class="tag_box inline">

                    {% for key in map.keys %}
                        <li><a>{{ key }}<span></span>
                        </a></li>
                    {% endfor %}

                </ul>

                {% for key,value in map.items %}
                    <div class="card">
                        <h2 id="{{ key }}-ref" class="hat_title">{{ key }}</h2>
                        <ul>
                            {% for article in value %}
                                <li><a href="{% url 'detail' article.id %}">{{ article.title }}</a></li>
                            {% endfor %}

                        </ul>
                    </div>
                {% endfor %}

            </div>
        </div>


    </div>
{% endblock %}
